# Client’s Order 1

“Top Five Romance Authors”

In [653]:
import pandas as pd
import re

In [654]:
df_books = pd.read_csv("data_first_run/iraniketab.csv")

df_books.head()

,title_persian,title_english,price,discount,grade,code,shabak,page_count,release_year_sh,release_year_mi,...,category,ghate,cover,writer,translator,book_id,writer_id,translator_id,category_id,publisher_id
0,مناظره مسلمان و مسیحی,Muslim and Christian debate,123750,25.0,3.57,16431.0,978-9642247059,268.0,1401.0,NaN,...,"[' نقد ادبی ', ' دینی و مذهبی ', ' ادبیات ایرا...",وزیری,شومیز,['رسول جعفریان'],[],16431,[6039],[],"['295', '346', '437']",[9]
1,طعم سیب زرد,Ta'me sibe zard,49700,30.0,3.41,44551.0,978-6002966469,160.0,1401.0,NaN,...,"[' ادبیات داستانی ', ' ادبیات نوجوان ', ' رمان...",پالتویی,شومیز,['ناصر یوسفی'],[],44551,[14398],[],"['103', '116', '182', '437']",[30]
2,نگاهی نو به فلسفه دین کانت,A new look at Kant's philosophy of religion,150000,25.0,3.63,75051.0,978-6006730820,332.0,1398.0,NaN,...,"[' فلسفی ', ' نقد ادبی ', ' دینی و مذهبی ', ' ...",رقعی,شومیز,['مصطفی صالحی اردکانی'],[],75051,[41157],[],"['291', '295', '346', '437']",[1971]
3,مدیریت خشم,Anger Management,80000,20.0,3.21,32993.0,978-9641703129,128.0,1401.0,2018.0,...,"[' ادبیات آمریکا ', ' ادبیات واقع گرایانه ', '...",رقعی,شومیز,['بیل اندروز'],['شاهین برادران'],32993,[19055],[4242],"['97', '139', '167', '327', '377']",[1195]
4,اطوار اندیشه ی اسلامی,Atvar-e andishe-ye Eslami,120000,20.0,3.21,46770.0,978-9642671649,112.0,1391.0,NaN,...,"[' ادبیات واقع گرایانه ', ' فلسفی ', ' دینی و ...",رقعی,جلدسخت,['محمد خواجوی'],[],46770,[26284],[],"['139', '291', '346', '437']",[1254]

In [655]:
# Filter romance books and drop unnecessary columns

romance_books = df_books[df_books["category"].apply(lambda x: "عاشقانه" in x)].drop_duplicates().copy()
romance_books = romance_books[["writer", "grade", "category"]]

romance_books

,writer,grade,category
58,['میترا عرفانی خانقاهی'],3.99,"[' داستان عاشقانه ', ' ادبیات داستانی ', ' رما..."
62,['تورج عاطف'],3.42,"[' داستان عاشقانه ', ' ادبیات داستانی ', ' ادب..."
287,['افشین صالحی'],3.47,"[' عاشقانه ', ' ادبیات ایران ', ' شعر ایرانی '..."
327,['فریدون مشیری'],3.24,"[' ادبیات معاصر ', ' دهه 1990 میلادی ', ' شعر ..."
409,['علیرضا بدیع'],3.45,"[' ادبیات معاصر ', ' دهه 2000 میلادی ', ' شعر ..."
418,['نشمیل کرباسیان'],3.23,"[' داستان عاشقانه ', ' ادبیات داستانی ', ' رما..."
464,['لئو بوسکالیا'],3.60,"[' ادبیات آمریکا ', ' ادبیات معاصر ', ' دهه 19..."
465,['لئو بوسکالیا'],3.19,"[' ادبیات آمریکا ', ' ادبیات معاصر ', ' دهه 19..."
466,['آندره ژید'],3.13,"[' ادبیات فرانسه ', ' جایزه نوبل ادبیات ', ' د..."
467,['آندره ژید'],3.99,"[' ادبیات فرانسه ', ' جایزه نوبل ادبیات ', ' د..."
478,['دبورا رودریگز'],3.79,"[' ادبیات آمریکا ', ' ادبیات داستانی ', ' دهه ..."
506,['هالی مارتین'],3.09,"[' ادبیات انگلیس ', ' داستان عاشقانه ', ' ادبی..."
551,['نیلوفر لاری'],3.36,"[' داستان عاشقانه ', ' ادبیات داستانی ', ' رما..."
678,['نیلوفر لاری پور'],3.95,"[' عاشقانه ', ' ادبیات ایران ', ' جملات قصار '..."
734,['هوانگ سوک-یانگ'],3.42,"[' داستان تاریخی ', ' داستان عاشقانه ', ' ادبی..."
741,['استفنی مه یر'],3.58,"[' ادبیات اقتباسی ', ' داستان فانتزی ', ' ادبی..."
742,['استفنی مه یر'],3.29,"[' ادبیات اقتباسی ', ' داستان فانتزی ', ' ادبی..."
743,['استفنی مه یر'],3.44,"[' ادبیات اقتباسی ', ' داستان فانتزی ', ' ادبی..."
843,['کاساندرا کلر'],3.38,"[' ادبیات آمریکا ', ' دهه 2000 میلادی ', ' فان..."
844,['کاساندرا کلر'],3.57,"[' ادبیات آمریکا ', ' دهه 2000 میلادی ', ' فان..."
896,['ستاره شجاعی مهر'],3.91,"[' داستان عاشقانه ', ' ادبیات داستانی ', ' رما..."
1047,['اریک امانوئل اشمیت'],3.86,"[' ادبیات فرانسه ', ' داستان عاشقانه ', ' ادبی..."
1048,['اریک امانوئل اشمیت'],3.58,"[' ادبیات فرانسه ', ' داستان عاشقانه ', ' ادبی..."
1678,['جنیفر اسمیت'],3.39,"[' ادبیات آمریکا ', ' داستان عاشقانه ', ' ادبی..."
1716,['محسن رضایی'],3.60,"[' داستان عاشقانه ', ' ادبیات داستانی ', ' مجم..."
1747,['مریم لطفعلی'],3.18,"[' داستان عاشقانه ', ' ادبیات داستانی ', ' ادب..."
2228,['داوود امیریان'],3.64,"[' داستان عاشقانه ', ' ادبیات داستانی ', ' رما..."
2252,['ای ای کامینگز'],3.22,"[' ادبیات آمریکا ', ' شعر ', ' عاشقانه ', ' شع..."
2323,['آلوین همیلتون'],3.67,"[' ادبیات کانادا ', ' داستان فانتزی ', ' داستا..."
2343,['نظامی گنجوی'],3.36,"[' ادبیات کلاسیک ', ' عاشقانه ', ' ادبیات ایرا..."
2344,['نظامی گنجوی'],3.52,"[' ادبیات کلاسیک ', ' عاشقانه ', ' ادبیات ایرا..."
2345,['نظامی گنجوی'],3.79,"[' ادبیات کلاسیک ', ' عاشقانه ', ' ادبیات ایرا..."
2355,['شایسته نظری'],3.74,"[' داستان عاشقانه ', ' ادبیات داستانی ', ' داس..."
3283,['سمیه عالمی'],3.25,"[' داستان عاشقانه ', ' ادبیات داستانی ', ' داس..."
3285,['کلود استینر'],3.38,"[' روانشناسی ', ' عاشقانه ', ' تعلیم و تربیت '..."
13366,['استفنی مه یر'],3.58,"[' ادبیات اقتباسی ', ' داستان فانتزی ', ' ادبی..."
13367,['استفنی مه یر'],3.29,"[' ادبیات اقتباسی ', ' داستان فانتزی ', ' ادبی..."
13368,['استفنی مه یر'],3.44,"[' ادبیات اقتباسی ', ' داستان فانتزی ', ' ادبی..."
42372,['نظامی گنجوی'],3.36,"[' ادبیات کلاسیک ', ' عاشقانه ', ' ادبیات ایرا..."
42373,['نظامی گنجوی'],3.52,"[' ادبیات کلاسیک ', ' عاشقانه ', ' ادبیات ایرا..."
42493,['استفنی مه یر'],3.58,"[' ادبیات اقتباسی ', ' داستان فانتزی ', ' ادبی..."
42494,['استفنی مه یر'],3.29,"[' ادبیات اقتباسی ', ' داستان فانتزی ', ' ادبی..."
42541,['لئو بوسکالیا'],3.60,"[' ادبیات آمریکا ', ' ادبیات معاصر ', ' دهه 19..."
42542,['لئو بوسکالیا'],3.19,"[' ادبیات آمریکا ', ' ادبیات معاصر ', ' دهه 19..."
42543,['آندره ژید'],3.13,"[' ادبیات فرانسه ', ' جایزه نوبل ادبیات ', ' د..."
42544,['آندره ژید'],3.99,"[' ادبیات فرانسه ', ' جایزه نوبل ادبیات ', ' د..."
42595,['اریک امانوئل اشمیت'],3.86,"[' ادبیات فرانسه ', ' داستان عاشقانه ', ' ادبی..."
42596,['اریک امانوئل اشمیت'],3.58,"[' ادبیات فرانسه ', ' داستان عاشقانه ', ' ادبی..."
42930,['کاساندرا کلر'],3.38,"[' ادبیات آمریکا ', ' دهه 2000 میلادی ', ' فان..."
42931,['کاساندرا کلر'],3.57,"[' ادبیات آمریکا ', ' دهه 2000 میلادی ', ' فان..."

In [656]:
# correct writer names' format from "['نام نویسنده']" to 'نام نویسنده'


def correct_writer_name(name_string):
    match = re.search(r"\['(.*?)'\]", name_string)
    return match.group(1) if match else None


romance_books["writer"] = romance_books["writer"].apply(correct_writer_name)

romance_books["writer"].value_counts()

writer
استفنی مه یر            8
نظامی گنجوی             5
لئو بوسکالیا            4
آندره ژید               4
اریک امانوئل اشمیت      4
کاساندرا کلر            4
ستاره شجاعی مهر         1
سمیه عالمی              1
شایسته نظری             1
آلوین همیلتون           1
ای ای کامینگز           1
داوود امیریان           1
مریم لطفعلی             1
محسن رضایی              1
جنیفر اسمیت             1
میترا عرفانی خانقاهی    1
تورج عاطف               1
هوانگ سوک-یانگ          1
نیلوفر لاری پور         1
نیلوفر لاری             1
هالی مارتین             1
دبورا رودریگز           1
نشمیل کرباسیان          1
علیرضا بدیع             1
فریدون مشیری            1
افشین صالحی             1
کلود استینر             1
Name: count, dtype: int64

In [657]:
# convert category column values from string to list of strings

def category_string_to_list(tag_string):
    return list([x.strip() for x in re.findall(r"\'(.*?)\'", tag_string)])

romance_books["category"] = romance_books["category"].apply(category_string_to_list)

romance_books.head()

,writer,grade,category
58,میترا عرفانی خانقاهی,3.99,"[داستان عاشقانه, ادبیات داستانی, رمان, ادبیات ..."
62,تورج عاطف,3.42,"[داستان عاشقانه, ادبیات داستانی, ادبیات معاصر,..."
287,افشین صالحی,3.47,"[عاشقانه, ادبیات ایران, شعر ایرانی, شعر معاصر]"
327,فریدون مشیری,3.24,"[ادبیات معاصر, دهه 1990 میلادی, شعر, عاشقانه, ..."
409,علیرضا بدیع,3.45,"[ادبیات معاصر, دهه 2000 میلادی, شعر, عاشقانه, ..."

In [658]:
# Calculate F1: Number of romance books by each author

f1 = romance_books.groupby("writer").size().reset_index(name="number_of_books")

f1

                  writer  number_of_books
0          آلوین همیلتون                1
1              آندره ژید                4
2     اریک امانوئل اشمیت                4
3           استفنی مه یر                8
4            افشین صالحی                1
5          ای ای کامینگز                1
6              تورج عاطف                1
7            جنیفر اسمیت                1
8          داوود امیریان                1
9          دبورا رودریگز                1
10       ستاره شجاعی مهر                1
11            سمیه عالمی                1
12           شایسته نظری                1
13           علیرضا بدیع                1
14          فریدون مشیری                1
15          لئو بوسکالیا                4
16            محسن رضایی                1
17           مریم لطفعلی                1
18  میترا عرفانی خانقاهی                1
19        نشمیل کرباسیان                1
20           نظامی گنجوی                5
21           نیلوفر لاری                1
22       نیلوفر لاری پور                1
23           هالی مارتین                1
24        هوانگ سوک-یانگ                1
25          کاساندرا کلر                4
26           کلود استینر                1

In [659]:
# Calculate F2: Average rating of the romance books by each author

f2 = romance_books.groupby("writer")["grade"].mean().reset_index(name="avg_rating")
f2["avg_rating"] = f2["avg_rating"].round(3)

# just checking top writers by avg_rating
f2.nlargest(10, "avg_rating")

                  writer  avg_rating
18  میترا عرفانی خانقاهی        3.99
22       نیلوفر لاری پور        3.95
10       ستاره شجاعی مهر        3.91
9          دبورا رودریگز        3.79
12           شایسته نظری        3.74
2     اریک امانوئل اشمیت        3.72
0          آلوین همیلتون        3.67
8          داوود امیریان        3.64
16            محسن رضایی        3.60
1              آندره ژید        3.56

In [660]:
# Merge F1 and F2

factors = f1.merge(f2, on="writer", how="inner")

factors

                  writer  number_of_books  avg_rating
0          آلوین همیلتون                1       3.670
1              آندره ژید                4       3.560
2     اریک امانوئل اشمیت                4       3.720
3           استفنی مه یر                8       3.436
4            افشین صالحی                1       3.470
5          ای ای کامینگز                1       3.220
6              تورج عاطف                1       3.420
7            جنیفر اسمیت                1       3.390
8          داوود امیریان                1       3.640
9          دبورا رودریگز                1       3.790
10       ستاره شجاعی مهر                1       3.910
11            سمیه عالمی                1       3.250
12           شایسته نظری                1       3.740
13           علیرضا بدیع                1       3.450
14          فریدون مشیری                1       3.240
15          لئو بوسکالیا                4       3.395
16            محسن رضایی                1       3.600
17           مریم لطفعلی                1       3.180
18  میترا عرفانی خانقاهی                1       3.990
19        نشمیل کرباسیان                1       3.230
20           نظامی گنجوی                5       3.510
21           نیلوفر لاری                1       3.360
22       نیلوفر لاری پور                1       3.950
23           هالی مارتین                1       3.090
24        هوانگ سوک-یانگ                1       3.420
25          کاساندرا کلر                4       3.475
26           کلود استینر                1       3.380

In [661]:
# Normalize F1 and F2 to range (1, 2)

factors["number_of_books_normalized"] = 1 \
    + (factors["number_of_books"] - factors["number_of_books"].min()) \
    / (factors["number_of_books"].max() - factors["number_of_books"].min())

factors["avg_rating_normalized"] = 1 \
    + (factors["avg_rating"] - factors["avg_rating"].min()) \
    / (factors["avg_rating"].max() - factors["avg_rating"].min())

factors

,writer,number_of_books,avg_rating,number_of_books_normalized,avg_rating_normalized
0,آلوین همیلتون,1,3.670,1.000000,1.644444
1,آندره ژید,4,3.560,1.428571,1.522222
2,اریک امانوئل اشمیت,4,3.720,1.428571,1.700000
3,استفنی مه یر,8,3.436,2.000000,1.384444
4,افشین صالحی,1,3.470,1.000000,1.422222
5,ای ای کامینگز,1,3.220,1.000000,1.144444
6,تورج عاطف,1,3.420,1.000000,1.366667
7,جنیفر اسمیت,1,3.390,1.000000,1.333333
8,داوود امیریان,1,3.640,1.000000,1.611111
9,دبورا رودریگز,1,3.790,1.000000,1.777778
10,ستاره شجاعی مهر,1,3.910,1.000000,1.911111
11,سمیه عالمی,1,3.250,1.000000,1.177778
12,شایسته نظری,1,3.740,1.000000,1.722222
13,علیرضا بدیع,1,3.450,1.000000,1.400000
14,فریدون مشیری,1,3.240,1.000000,1.166667
15,لئو بوسکالیا,4,3.395,1.428571,1.338889
16,محسن رضایی,1,3.600,1.000000,1.566667
17,مریم لطفعلی,1,3.180,1.000000,1.100000
18,میترا عرفانی خانقاهی,1,3.990,1.000000,2.000000
19,نشمیل کرباسیان,1,3.230,1.000000,1.155556
20,نظامی گنجوی,5,3.510,1.571429,1.466667
21,نیلوفر لاری,1,3.360,1.000000,1.300000
22,نیلوفر لاری پور,1,3.950,1.000000,1.955556
23,هالی مارتین,1,3.090,1.000000,1.000000
24,هوانگ سوک-یانگ,1,3.420,1.000000,1.366667
25,کاساندرا کلر,4,3.475,1.428571,1.427778
26,کلود استینر,1,3.380,1.000000,1.322222

In [662]:
# Calculate F3: Number of award tags for author’s romance books

def count_awards(tags):
    count = 0
    for tag in tags:
        if "جایزه" in tag:
            count += 1
    return count


romance_books["award_tags_count"] = romance_books["category"].apply(count_awards)
f3 = (
    romance_books.groupby("writer")["award_tags_count"]
    .sum()
    .reset_index(name="award_tags_count")
)

f3

                  writer  award_tags_count
0          آلوین همیلتون                 1
1              آندره ژید                 4
2     اریک امانوئل اشمیت                 0
3           استفنی مه یر                24
4            افشین صالحی                 0
5          ای ای کامینگز                 0
6              تورج عاطف                 0
7            جنیفر اسمیت                 0
8          داوود امیریان                 0
9          دبورا رودریگز                 0
10       ستاره شجاعی مهر                 0
11            سمیه عالمی                 0
12           شایسته نظری                 0
13           علیرضا بدیع                 0
14          فریدون مشیری                 0
15          لئو بوسکالیا                 0
16            محسن رضایی                 0
17           مریم لطفعلی                 0
18  میترا عرفانی خانقاهی                 0
19        نشمیل کرباسیان                 0
20           نظامی گنجوی                 0
21           نیلوفر لاری                 0
22       نیلوفر لاری پور                 0
23           هالی مارتین                 0
24        هوانگ سوک-یانگ                 0
25          کاساندرا کلر                 0
26           کلود استینر                 0

In [663]:
# Calculate F4: Number of list tags for author’s romance books


def count_listings(tags):
    count = 0
    for tag in tags:
        if ("ترین" in tag) or ("گزیده" in tag):
            count += 1
    return count


romance_books["list_tags_count"] = romance_books["category"].apply(count_listings)
f4 = (
    romance_books.groupby("writer")["list_tags_count"]
    .sum()
    .reset_index(name="list_tags_count")
)

f4

                  writer  list_tags_count
0          آلوین همیلتون                2
1              آندره ژید                4
2     اریک امانوئل اشمیت                0
3           استفنی مه یر               72
4            افشین صالحی                0
5          ای ای کامینگز                0
6              تورج عاطف                0
7            جنیفر اسمیت                0
8          داوود امیریان                0
9          دبورا رودریگز                0
10       ستاره شجاعی مهر                0
11            سمیه عالمی                0
12           شایسته نظری                0
13           علیرضا بدیع                0
14          فریدون مشیری                0
15          لئو بوسکالیا                0
16            محسن رضایی                0
17           مریم لطفعلی                0
18  میترا عرفانی خانقاهی                0
19        نشمیل کرباسیان                0
20           نظامی گنجوی                0
21           نیلوفر لاری                0
22       نیلوفر لاری پور                0
23           هالی مارتین                0
24        هوانگ سوک-یانگ                0
25          کاساندرا کلر                4
26           کلود استینر                0

In [664]:
# Merge F3 and F4 with the previous factors dataframe

factors = factors.merge(f3, on="writer", how="inner").merge(
    f4, on="writer", how="inner")

factors

,writer,number_of_books,avg_rating,number_of_books_normalized,avg_rating_normalized,award_tags_count,list_tags_count
0,آلوین همیلتون,1,3.670,1.000000,1.644444,1,2
1,آندره ژید,4,3.560,1.428571,1.522222,4,4
2,اریک امانوئل اشمیت,4,3.720,1.428571,1.700000,0,0
3,استفنی مه یر,8,3.436,2.000000,1.384444,24,72
4,افشین صالحی,1,3.470,1.000000,1.422222,0,0
5,ای ای کامینگز,1,3.220,1.000000,1.144444,0,0
6,تورج عاطف,1,3.420,1.000000,1.366667,0,0
7,جنیفر اسمیت,1,3.390,1.000000,1.333333,0,0
8,داوود امیریان,1,3.640,1.000000,1.611111,0,0
9,دبورا رودریگز,1,3.790,1.000000,1.777778,0,0
10,ستاره شجاعی مهر,1,3.910,1.000000,1.911111,0,0
11,سمیه عالمی,1,3.250,1.000000,1.177778,0,0
12,شایسته نظری,1,3.740,1.000000,1.722222,0,0
13,علیرضا بدیع,1,3.450,1.000000,1.400000,0,0
14,فریدون مشیری,1,3.240,1.000000,1.166667,0,0
15,لئو بوسکالیا,4,3.395,1.428571,1.338889,0,0
16,محسن رضایی,1,3.600,1.000000,1.566667,0,0
17,مریم لطفعلی,1,3.180,1.000000,1.100000,0,0
18,میترا عرفانی خانقاهی,1,3.990,1.000000,2.000000,0,0
19,نشمیل کرباسیان,1,3.230,1.000000,1.155556,0,0
20,نظامی گنجوی,5,3.510,1.571429,1.466667,0,0
21,نیلوفر لاری,1,3.360,1.000000,1.300000,0,0
22,نیلوفر لاری پور,1,3.950,1.000000,1.955556,0,0
23,هالی مارتین,1,3.090,1.000000,1.000000,0,0
24,هوانگ سوک-یانگ,1,3.420,1.000000,1.366667,0,0
25,کاساندرا کلر,4,3.475,1.428571,1.427778,0,4
26,کلود استینر,1,3.380,1.000000,1.322222,0,0

In [665]:
# Normalize F3 and F4 to range (1, 2)

factors["award_tags_count_normalized"] = 1 \
    + (factors["award_tags_count"] - factors["award_tags_count"].min()) \
    / (factors["award_tags_count"].max() - factors["award_tags_count"].min())

factors["list_tags_count_normalized"] = 1 \
    + (factors["list_tags_count"] - factors["list_tags_count"].min()) \
    / (factors["list_tags_count"].max() - factors["list_tags_count"].min())

factors

,writer,number_of_books,avg_rating,number_of_books_normalized,avg_rating_normalized,award_tags_count,list_tags_count,award_tags_count_normalized,list_tags_count_normalized
0,آلوین همیلتون,1,3.670,1.000000,1.644444,1,2,1.041667,1.027778
1,آندره ژید,4,3.560,1.428571,1.522222,4,4,1.166667,1.055556
2,اریک امانوئل اشمیت,4,3.720,1.428571,1.700000,0,0,1.000000,1.000000
3,استفنی مه یر,8,3.436,2.000000,1.384444,24,72,2.000000,2.000000
4,افشین صالحی,1,3.470,1.000000,1.422222,0,0,1.000000,1.000000
5,ای ای کامینگز,1,3.220,1.000000,1.144444,0,0,1.000000,1.000000
6,تورج عاطف,1,3.420,1.000000,1.366667,0,0,1.000000,1.000000
7,جنیفر اسمیت,1,3.390,1.000000,1.333333,0,0,1.000000,1.000000
8,داوود امیریان,1,3.640,1.000000,1.611111,0,0,1.000000,1.000000
9,دبورا رودریگز,1,3.790,1.000000,1.777778,0,0,1.000000,1.000000
10,ستاره شجاعی مهر,1,3.910,1.000000,1.911111,0,0,1.000000,1.000000
11,سمیه عالمی,1,3.250,1.000000,1.177778,0,0,1.000000,1.000000
12,شایسته نظری,1,3.740,1.000000,1.722222,0,0,1.000000,1.000000
13,علیرضا بدیع,1,3.450,1.000000,1.400000,0,0,1.000000,1.000000
14,فریدون مشیری,1,3.240,1.000000,1.166667,0,0,1.000000,1.000000
15,لئو بوسکالیا,4,3.395,1.428571,1.338889,0,0,1.000000,1.000000
16,محسن رضایی,1,3.600,1.000000,1.566667,0,0,1.000000,1.000000
17,مریم لطفعلی,1,3.180,1.000000,1.100000,0,0,1.000000,1.000000
18,میترا عرفانی خانقاهی,1,3.990,1.000000,2.000000,0,0,1.000000,1.000000
19,نشمیل کرباسیان,1,3.230,1.000000,1.155556,0,0,1.000000,1.000000
20,نظامی گنجوی,5,3.510,1.571429,1.466667,0,0,1.000000,1.000000
21,نیلوفر لاری,1,3.360,1.000000,1.300000,0,0,1.000000,1.000000
22,نیلوفر لاری پور,1,3.950,1.000000,1.955556,0,0,1.000000,1.000000
23,هالی مارتین,1,3.090,1.000000,1.000000,0,0,1.000000,1.000000
24,هوانگ سوک-یانگ,1,3.420,1.000000,1.366667,0,0,1.000000,1.000000
25,کاساندرا کلر,4,3.475,1.428571,1.427778,0,4,1.000000,1.055556
26,کلود استینر,1,3.380,1.000000,1.322222,0,0,1.000000,1.000000

In [666]:
# Fill NaN values with 1.0

factors.fillna(1.0, inplace=True)

factors

,writer,number_of_books,avg_rating,number_of_books_normalized,avg_rating_normalized,award_tags_count,list_tags_count,award_tags_count_normalized,list_tags_count_normalized
0,آلوین همیلتون,1,3.670,1.000000,1.644444,1,2,1.041667,1.027778
1,آندره ژید,4,3.560,1.428571,1.522222,4,4,1.166667,1.055556
2,اریک امانوئل اشمیت,4,3.720,1.428571,1.700000,0,0,1.000000,1.000000
3,استفنی مه یر,8,3.436,2.000000,1.384444,24,72,2.000000,2.000000
4,افشین صالحی,1,3.470,1.000000,1.422222,0,0,1.000000,1.000000
5,ای ای کامینگز,1,3.220,1.000000,1.144444,0,0,1.000000,1.000000
6,تورج عاطف,1,3.420,1.000000,1.366667,0,0,1.000000,1.000000
7,جنیفر اسمیت,1,3.390,1.000000,1.333333,0,0,1.000000,1.000000
8,داوود امیریان,1,3.640,1.000000,1.611111,0,0,1.000000,1.000000
9,دبورا رودریگز,1,3.790,1.000000,1.777778,0,0,1.000000,1.000000
10,ستاره شجاعی مهر,1,3.910,1.000000,1.911111,0,0,1.000000,1.000000
11,سمیه عالمی,1,3.250,1.000000,1.177778,0,0,1.000000,1.000000
12,شایسته نظری,1,3.740,1.000000,1.722222,0,0,1.000000,1.000000
13,علیرضا بدیع,1,3.450,1.000000,1.400000,0,0,1.000000,1.000000
14,فریدون مشیری,1,3.240,1.000000,1.166667,0,0,1.000000,1.000000
15,لئو بوسکالیا,4,3.395,1.428571,1.338889,0,0,1.000000,1.000000
16,محسن رضایی,1,3.600,1.000000,1.566667,0,0,1.000000,1.000000
17,مریم لطفعلی,1,3.180,1.000000,1.100000,0,0,1.000000,1.000000
18,میترا عرفانی خانقاهی,1,3.990,1.000000,2.000000,0,0,1.000000,1.000000
19,نشمیل کرباسیان,1,3.230,1.000000,1.155556,0,0,1.000000,1.000000
20,نظامی گنجوی,5,3.510,1.571429,1.466667,0,0,1.000000,1.000000
21,نیلوفر لاری,1,3.360,1.000000,1.300000,0,0,1.000000,1.000000
22,نیلوفر لاری پور,1,3.950,1.000000,1.955556,0,0,1.000000,1.000000
23,هالی مارتین,1,3.090,1.000000,1.000000,0,0,1.000000,1.000000
24,هوانگ سوک-یانگ,1,3.420,1.000000,1.366667,0,0,1.000000,1.000000
25,کاساندرا کلر,4,3.475,1.428571,1.427778,0,4,1.000000,1.055556
26,کلود استینر,1,3.380,1.000000,1.322222,0,0,1.000000,1.000000

In [667]:
# Compute the final metric for each author
# Approach 1:
#   Very strong Rating effect

factors["final_metric_1"] = round(
    factors["number_of_books_normalized"]
    * factors["avg_rating_normalized"] ** 3
    * factors["award_tags_count_normalized"]
    * factors["list_tags_count_normalized"]
    , 3
)

factors[["writer", "final_metric_1"]].sort_values(
    by="final_metric_1", ascending=False
).head(5)

                  writer  final_metric_1
3           استفنی مه یر          21.228
18  میترا عرفانی خانقاهی           8.000
22       نیلوفر لاری پور           7.478
2     اریک امانوئل اشمیت           7.019
10       ستاره شجاعی مهر           6.980

In [668]:
# Compute the final metric for each author
# Approach 2:
#   Strong Rating effect

factors["final_metric_2"] = round(
    factors["number_of_books_normalized"]
    * factors["avg_rating_normalized"] ** 2
    * factors["award_tags_count_normalized"]
    * factors["list_tags_count_normalized"]
    , 3
)

factors[["writer", "final_metric_2"]].sort_values(
    by="final_metric_2", ascending=False
).head(5)

                  writer  final_metric_2
3           استفنی مه یر          15.333
2     اریک امانوئل اشمیت           4.129
1              آندره ژید           4.076
18  میترا عرفانی خانقاهی           4.000
22       نیلوفر لاری پور           3.824

In [669]:
# Compute the final metric for each author
# Approach 3: 
#   Very strong Rating effect
#   Strong number of books effect

factors["final_metric_3"] = round(
    factors["number_of_books_normalized"] ** 2
    * factors["avg_rating_normalized"] ** 3
    * factors["award_tags_count_normalized"]
    * factors["list_tags_count_normalized"]
    , 3
)

factors[["writer", "final_metric_3"]].sort_values(
    by="final_metric_3", ascending=False
).head(5)

                  writer  final_metric_3
3           استفنی مه یر          42.457
2     اریک امانوئل اشمیت          10.027
1              آندره ژید           8.865
18  میترا عرفانی خانقاهی           8.000
20           نظامی گنجوی           7.791

In [670]:
factors

,writer,number_of_books,avg_rating,number_of_books_normalized,avg_rating_normalized,award_tags_count,list_tags_count,award_tags_count_normalized,list_tags_count_normalized,final_metric_1,final_metric_2,final_metric_3
0,آلوین همیلتون,1,3.670,1.000000,1.644444,1,2,1.041667,1.027778,4.761,2.895,4.761
1,آندره ژید,4,3.560,1.428571,1.522222,4,4,1.166667,1.055556,6.205,4.076,8.865
2,اریک امانوئل اشمیت,4,3.720,1.428571,1.700000,0,0,1.000000,1.000000,7.019,4.129,10.027
3,استفنی مه یر,8,3.436,2.000000,1.384444,24,72,2.000000,2.000000,21.228,15.333,42.457
4,افشین صالحی,1,3.470,1.000000,1.422222,0,0,1.000000,1.000000,2.877,2.023,2.877
5,ای ای کامینگز,1,3.220,1.000000,1.144444,0,0,1.000000,1.000000,1.499,1.310,1.499
6,تورج عاطف,1,3.420,1.000000,1.366667,0,0,1.000000,1.000000,2.553,1.868,2.553
7,جنیفر اسمیت,1,3.390,1.000000,1.333333,0,0,1.000000,1.000000,2.370,1.778,2.370
8,داوود امیریان,1,3.640,1.000000,1.611111,0,0,1.000000,1.000000,4.182,2.596,4.182
9,دبورا رودریگز,1,3.790,1.000000,1.777778,0,0,1.000000,1.000000,5.619,3.160,5.619
10,ستاره شجاعی مهر,1,3.910,1.000000,1.911111,0,0,1.000000,1.000000,6.980,3.652,6.980
11,سمیه عالمی,1,3.250,1.000000,1.177778,0,0,1.000000,1.000000,1.634,1.387,1.634
12,شایسته نظری,1,3.740,1.000000,1.722222,0,0,1.000000,1.000000,5.108,2.966,5.108
13,علیرضا بدیع,1,3.450,1.000000,1.400000,0,0,1.000000,1.000000,2.744,1.960,2.744
14,فریدون مشیری,1,3.240,1.000000,1.166667,0,0,1.000000,1.000000,1.588,1.361,1.588
15,لئو بوسکالیا,4,3.395,1.428571,1.338889,0,0,1.000000,1.000000,3.429,2.561,4.898
16,محسن رضایی,1,3.600,1.000000,1.566667,0,0,1.000000,1.000000,3.845,2.454,3.845
17,مریم لطفعلی,1,3.180,1.000000,1.100000,0,0,1.000000,1.000000,1.331,1.210,1.331
18,میترا عرفانی خانقاهی,1,3.990,1.000000,2.000000,0,0,1.000000,1.000000,8.000,4.000,8.000
19,نشمیل کرباسیان,1,3.230,1.000000,1.155556,0,0,1.000000,1.000000,1.543,1.335,1.543
20,نظامی گنجوی,5,3.510,1.571429,1.466667,0,0,1.000000,1.000000,4.958,3.380,7.791
21,نیلوفر لاری,1,3.360,1.000000,1.300000,0,0,1.000000,1.000000,2.197,1.690,2.197
22,نیلوفر لاری پور,1,3.950,1.000000,1.955556,0,0,1.000000,1.000000,7.478,3.824,7.478
23,هالی مارتین,1,3.090,1.000000,1.000000,0,0,1.000000,1.000000,1.000,1.000,1.000
24,هوانگ سوک-یانگ,1,3.420,1.000000,1.366667,0,0,1.000000,1.000000,2.553,1.868,2.553
25,کاساندرا کلر,4,3.475,1.428571,1.427778,0,4,1.000000,1.055556,4.389,3.074,6.270
26,کلود استینر,1,3.380,1.000000,1.322222,0,0,1.000000,1.000000,2.312,1.748,2.312

In [671]:
# Rank the authors based on the computed metric in descending order
# Choosen Approach: Approach 3

top_writers = factors[['writer', 'final_metric_3']].sort_values(by='final_metric_3', ascending=False).head(5)

top_writers

                  writer  final_metric_3
3           استفنی مه یر          42.457
2     اریک امانوئل اشمیت          10.027
1              آندره ژید           8.865
18  میترا عرفانی خانقاهی           8.000
20           نظامی گنجوی           7.791